<div id="con_ina">
  <div class="mod">
    <div class="modth">
      <h1>个人档案</h1>
    </div>
    <div class="modbox" id="l_profile">
      <dl>
        <dt><cite><a href="mysetting.php?step=1">编辑</a></cite>基本信息</dt>
        <dd><span>真实姓名:</span></dd>
        <dd><span>性别:</span></dd>
        <dd><span>生日:</span>1988年09月17日</dd>
        <dd><span>血型:</span>O</dd>
        <dd><span>身高:</span>168
        </dd>
        <dd><span>体重:</span>50</dd>
        <dd><span>体型:</span>瘦高</dd>
        <dd><span>来自:</span>烟台</dd>
        <dd><span>居住地:</span>目前在青岛</dd>
      </dl>
    </div>
  </div>
</div>
<div class="clear"></div>
