<div class="mod">
  <div class="modth">
    <div class="lc">
      <div class="rc">
        <div class="modtit">
          <h1><%= logged_in_user.username %></h1>
        </div>
        <div class="modopt"><a href="mysetting.php">编辑资料</a></div>
      </div>
    </div>
  </div>
  <div id="m_pro" class="modbox">
    <ul>
      <li class="image"><img src="/user1/jshmemory/face35665.gif" height="80" width="80"></li>
      <li class="user"><!--<img src="/skins/spaces/default/images/mama.gif" alt="美女" width="20" height="18" />-->美女|21岁</li>
      <li class="a"><%= link_to '修改头像' %></li>
      <li class="b"><%= link_to '发表文章', new_user_entry_path(:user_id => logged_in_user.id) %></li>
      <li class="c"><%= link_to '上传照片' %></li>    
      <li class="desc addr">地点：</li>
      <li class="desc">等级：</li>
      <li class="desc">积分：</li>
      <li class="desc">上次登录：</li>
      <li class="clear">&nbsp;</li>
    </ul>
    <p class="more"><a href="profile.php?mid=35665">详细资料»</a></p>
  </div>
</div>

