<div id="search">
  <div id="search_left">
    <div id="search_right">
      <div id="nav_search">
        <form style="display:inline" id="head_searchform" action="http://so.mimimama.com/s/search.jsp" onsubmit="return this.key.value!=''" target="_blank">
          <span id="nav_s1">
            <input name="key" type="text" class="tfield" id="key" onfocus="if('请输入关键词，如婚庆，酒吧...'==this.value)this.value=''" onblur="if(''==this.value)this.value='请输入关键词，如婚庆，酒吧...'" value="请输入关键词，如婚庆，酒吧..." size="50" />
          </span>
          <button type="submit" id="nav_s2">搜索</button>

          <input name="si" type="hidden" id="searchform_si" value="2" />
          <div id="nav_s3"><a href="http://so.mimimama.com/">高级搜索</a></div>
        </form>
      </div>
      <div id="tel400"><a  title="申领密密麻麻网会员卡" target="_blank">申领密密麻麻网会员829-353</a></div>
    </div>
  </div>
</div>
