<div class="main">
  <div id="left">

    <div class="mod" id="subnav">
      <div class="bgtop"></div>
      <div class="modbox">
        <dl>
          <% for category in @parent_categories -%>
            <%= render :partial => 'parent_category', :object => category %>
          <% end -%>
         </dl>
      </div>

      <div class="bgbottom"></div>
    </div>

  </div>
  <div id="right">
    <div id="main1con">
      <div id="aleft">

        <div id="MainPromotionBanner">
          <div id="SlidePlayer">
            <ul class="Slides">
              <li><a target="_blank" href="http://www.mimimama.com/forum/viewthread.php?tid=13982" /><img src="img/aimg1.jpg" /></a></li>

              <li><a target="_blank" href="http://sale.mimimama.com/marry/special/luotuo/index.html" /><img src="img/aimg2.jpg" /></a></li>

              <li><a target="_blank" href="http://www.mimimama.com/home//"><img src="img/img0.jpg" /></a></li>
              <li><a target="_blank" href="http://sale.mimimama.com/peixun/special/1/index.html" /><img src="img/img1.jpg" /></a></li>

            </ul>
          </div>
          <script type="text/javascript">
            TB.widget.SimpleSlide.decoration('SlidePlayer', {eventType:'mouse', effect:'scroll'});
          </script>
        </div>


      </div>
      <div id="aright">

        <div class="modboxt">

          <p>优惠活动 </p>
          <div class="txtad">
            <ul>
              <li><a href="http://www.mimimama.com/forum/viewthread.php?tid=13800" target="_blank">[V2]峨眉山秋冬枫之恋曲<span class="STYLE7"> ￥5990</span></a><a href="http://sale.mimimama.com/doc/1/389/" target="_blank"></a><a href="http://sale.mimimama.com/marry/special/V2/v22/index.html" target="_blank"></a> </li>
              <li><a href="http://sale.mimimama.com/doc/1/260/" target="_blank">九鼎日盛专业设计千元优惠</a></li>
            </ul>
          </div>
          <div class="righttxtad">
            <div class="righttxtad2"><a href="http://www.mimimama.com/buycard/" target="_blank"><img src="upfils/200x60a.gif" width="180" height="60" /></a>
              <div class="righttxtad2"><a href="http://www.mimimama.com/about/index_lianxi.html" target="_blank"><img src="upfils/mimimama_index_reg.gif" width="90" height="33" /></a><a href="http://www.mimimama.com/register.php?r=/" target="_blank"><img src="upfils/mimimama_index_reg2.gif" width="90" height="33" /></a><br />
                <a href="#" target="_blank">新手上路</a> <a href="shop.php">消费点评</a><a href="#" target="_blank"></a> <a href="http://www.mimimama.com/vipshop.php" target="_blank">会员卡</a> </div>
            </div>
          </div>

        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>
</div>

<div class="main">
  <div id="left2">
    <div class="mod">
      <div class="bgtop"></div>
      <div class="modbox">
        <dl>
          <dt>最新促销信息</dt>		  
          <script language="javascript" src="index_list/index_provideinfo.js"></script>
        </dl>
      </div>
      <div class="bgbottom"></div>
    </div>
  </div>
  <div id="right2">
    <div id="newmain">
      <div id="l"><a href="http://sale.mimimama.com/marry/special/zsy/z2/index.html" target="_blank"><img src="upfils/m0_194x220.gif" width="184" height="220" /></a></div>
      <div class='ra'><a href='http://sale.mimimama.com/doc/1/93' target="_blank"><img src='img/sp_show11.jpg' width='80' height='80' /><br /></a>

        <div class="imgshow1">
          <div class="imgshow2 "><span class="hx"><a href="http://sale.mimimama.com/doc/1/93" target="_blank">英之辅·英语幼儿 Play Way</a></span><span class="STYLE3">￥ 3648.00</span></div>
        </div>
          </div><div class='ra'><a href='http://sale.mimimama.com/doc/1/684/' target="_blank"><img src='img/cpshow20.gif' width='80' height='80' /><br />
        </a>
        <div class="imgshow1">
          <div class="imgshow2 "><span class="hx"><a href="http://sale.mimimama.com/doc/1/684/" target="_blank">欧古陶瓷惊爆TF202 超低价</a></span><span class="STYLE3">3.98元/匹</span></div>

        </div>
          </div><div class='ra'><a href='http://sale.mimimama.com/doc/1/698/' target="_blank"><img src='img/cpshow14.gif' width='80' height='80' /><br />
        </a>
        <div class="imgshow1">
          <div class="imgshow2 "><span class="hx"><a href="http://sale.mimimama.com/doc/1/698/" target="_blank">圣象木业新安居系列GO103</a></span><span class="STYLE3">59.00元/㎡</span></div>
        </div>
        </div><div class='ra'><a href='http://sale.mimimama.com/doc/1/420/' target="_blank"><img src='img/chanpin44.gif' width='80' height='80' /><br /></a>
        <div class="imgshow1">

          <div class="imgshow2 "><span class="hx"><a href="http://sale.mimimama.com/doc/1/420/" target="_blank">唯印象摄影真我风采艺术照</a></span><span class="STYLE3">￥ 836.00</span></div>
        </div>
        </div><div class='ra'><a href="http://sale.mimimama.com/doc/1/621/" target="_blank"><img src='img/chanpin54.gif' width='80' height='80' /></a><br />
        <div class="imgshow1">
          <div class="imgshow2 ">
            <div align="center"><span class="hx"><a href="http://sale.mimimama.com/doc/1/621/" target="_blank">米亚印象摄影 <span class="STYLE2">FALL IN LOVE</span></a></span><span class="STYLE3">￥2533.00</span></div>

          </div>
    </div></span></div>
    <div class="rb"><a href="http://sale.mimimama.com/doc/1/463/"><img src="upfils/m0_196x90a.gif" width="196" height="73" /></a></div>
    <div class="rb"><a href="http://sale.mimimama.com/doc/1/378/"><img src="upfils/m0_196x90b.gif" width="196" height="73" /></a></div>
    <div class="rc"><img src="upfils/91x88.gif" width="91" height="88" /></div>
  </div>
</div>

<div class="clear">&nbsp;</div>
</div>

<div class="main"><img src="upfils/b960x90.gif" width="960" height="90" /></div>
<div class="main">
  <div class="title" id="t1">
    <div class="titleright"><a href="listpage/sale_p_p_13_20_1.html">品牌家装</a> | <a href="listpage/sale_p_p_15_20_1.html">卫浴</a> |<a href="listpage/sale_p_p_14_20_1.html"> 地板</a> |<a href="listpage/sale_p_p_43_20_1.html"> 瓷砖</a> |<a href="listpage/sale_p_p_44_20_1.html"> 橱柜</a> |<a href="listpage/sale_p_p_80_20_1.html"> 厨房电器</a> |<a href="listpage/sale_p_p_78_20_1.html"> 五金龙头</a> |<a href="listpage/sale_p_p_76_20_1.html"> 油漆涂料</a> |<a href="listpage/sale_p_p_82_20_1.html"> 门窗</a> |<a href="listpage/sale_p_p_46_20_1.html"> 环境治理</a> |<a href="listpage/sale_p_p_89_20_1.html"> 家具装饰</a> |<a href="listpage/sale_p_p_45_20_1.html"> 家装配套</a> |<a href="listpage/sale_p_p_86_20_1.html"> 集成吊顶</a></div>

  </div>
  <div class="dmainlite" id="d1">
    <div class="dmainleftlite"><a href="http://sale.mimimama.com/doc/1/listpage/sale_p_p_3_20_1.html"><img src="upfils/m1.jpg" width="250" height="275" /></a></div>
    <div class="dmainrightlite">
      <div class="leftmain">

        <div class="ad03"><a href="http://sale.mimimama.com/doc/1/260/" target="_blank"><img src="upfils/m1_185x77.jpg" width="185" height="77" /></a></div>
        <div class="ad04"><a href="http://sale.mimimama.com/home/hdong/longfashow.jpg"><img src="upfils/m1_265x77.jpg" width="265" height="77" /></a></div>
        <div class="chanpinlite">
          <ul>

            <li><a href='http://sale.mimimama.com/doc/1/792/' target="_blank"><img src='img/hdong6.gif' width='110' height='110' /></a>
            <div class="imgshow1">
              <div class="imgshow2 "> <span class="hx2"><a href="http://sale.mimimama.com/doc/1/792/" target="_blank">威尼斯商人陶瓷<span style="DISPLAY: block">spg100t-100*100</span></a></span><span class="STYLE4">78.00元/㎡</span></div>
            </div>
            </li>
            <li><a href='http://sale.mimimama.com/doc/1/641/' target="_blank"><img src='img/hdong5.gif' width='110' height='110' /></a>
            <div class="imgshow1">

              <div class="imgshow2 "> 
                <div align="center"><span class="hx2"><a href="http://sale.mimimama.com/doc/1/641/" target="_blank">通美装饰<span style="DISPLAY: block">赠欣宜橱柜、衣柜</span></a></span><span class="STYLE4">248.00元/㎡起</span></div>
              </div>
            </div>
            </li>
            <li><a href="http://sale.mimimama.com/doc/1/789/" target="_blank"><img src='img/hdong7.gif' width='110' height='110' /></a>
            <div class="imgshow1">
              <div class="imgshow2 "> <span class="hx2"><a href="http://sale.mimimama.com/doc/1/789/" target="_blank">唯美罗丹陶瓷<span style="DISPLAY: block">ZF4116织锦石4.4折</span></a></span><span class="STYLE4">79.80元/㎡</span></div>

            </div>
            </li>
            <li><a href="http://sale.mimimama.com/doc/1/690/" target="_blank"><img src='img/hdong8.gif' width='110' height='110' /></a>
            <div class="imgshow1">
              <div class="imgshow2 "> <span class="hx2"><a href="http://sale.mimimama.com/doc/1/690/" target="_blank">科勒洁具 KOHLER<span style="DISPLAY: block">K-3422-0限量抢购</span></a></span><span class="STYLE4">999.00元</span></div>
            </div>
            </li>

          </ul>
      </div> </div>
      <div class="rightmainlite">

        <p class="STYLE5">最新促销信息 </p>
        <div class="txtad">
          <ul>

            <li><span class="STYLE8">1.</span><a href="http://sale.mimimama.com/doc/1/688/" target="_blank"> 欧兰仕卫浴·浴室柜超低惊爆价！</a></li>

            <li><span class="STYLE8">2.</span> <a href="http://sale.mimimama.com/doc/1/353/" target="_blank">四维卫浴·连体座便器低至<span class="redt">4.6折</span></a></li>
            <li><span class="STYLE8">3.</span><a href="http://sale.mimimama.com/doc/1/705/" target="_blank"> 法恩莎洁具·蹲便器+水箱抢购462</a></li>
            <li><span class="STYLE8">4.</span> <a href="http://sale.mimimama.com/doc/1/684/" target="_blank">欧古陶瓷TF202惊爆价低至<span class="redt">2.9折</span></a></li>
          </ul>
        </div>
        <div class="txtad3"><a href="http://sale.mimimama.com/doc/1/235" target="_blank"><img src="img/home/fa.jpg" width="206" height="50" /></a></div>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="title" id="t2">
    <div class="titleright"><a href="listpage/sale_p_p_65_20_1.html">婚庆服务</a> | <a href="listpage/sale_p_p_24_20_1.html">婚纱照套系</a> | <a href="listpage/sale_p_p_23_20_1.html">情侣照套系</a> | <a href="listpage/sale_p_p_22_20_1.html">艺术照套系</a> |    <a href="listpage/sale_p_p_87_20_1.html">珠宝首饰</a></div>

  </div>
  <div class="dmainLitex350" id="d2">
    <div class="dmainleftLitex350"><a href="http://www.mimimama.com/forum/viewthread.php?tid=13800&amp;extra=&amp;page=1" target="_blank"><img src="upfils/m2.jpg" width="250" height="350" /></a></div>
    <div class="dmainrightLitex350">
      <div class="leftmain">
        <div class="chanpinLitex350">
          <ul>
            <li><a href='http://sale.mimimama.com/doc/1/661/' target="_blank"><img src='img/marry/chanp01.gif' width='100' height='100' /></a>
            <div class="imgshow1">

              <div class="imgshow2 "> <span class="hx2"><a href="http://sale.mimimama.com/doc/1/661/" target="_blank">尚品国际一往情深☆惊喜“六重”大礼！</a></span><span class="STYLE4">￥3999.00</span></div>
            </div>
            </li>
            <li><a href='http://sale.mimimama.com/doc/1/778/' target="_blank"><img src='img/marry/chanp02.gif' width='100' height='100' /></a>
            <div class="imgshow1">
              <div class="imgshow2 "> <span class="hx2"><a href="http://sale.mimimama.com/doc/1/778/" target="_blank">[本色自然摄影]他和她的故事</a></span><span class="STYLE4">￥1298.00</span></div>

            </div>
            </li>
          </ul>
          <ul>
            <li><a href='http://sale.mimimama.com/doc/1/784/' target="_blank"><img src='img/marry/chanp03.gif' width='100' height='100' /></a>
            <div class="imgshow1">
              <div class="imgshow2 "> <span class="hx2"><a href="http://sale.mimimama.com/doc/1/784/" target="_blank">[红豆摄影]特惠B套系 独家奉送</a></span><span class="STYLE4">￥888.00</span></div>

            </div>
            </li>
          </ul>
          <ul>
            <li><a href='http://sale.mimimama.com/doc/1/786/' target="_blank"><img src='img/marry/chanp04.gif' width='100' height='100' /></a>
            <div class="imgshow1">
              <div class="imgshow2 "> <span class="hx2"><a href="http://sale.mimimama.com/doc/1/786/" target="_blank">本色自然摄影☆亚洛克王子☆</a></span><span class="STYLE4">￥1999.00</span></div>

            </div>
            </li>
          </ul>
        </div>
        <div class="showcpLitex350">       <div class="adlite01"><a href="http://sale.mimimama.com/doc/1/676/" target="_blank"><img src="img/marry/b03.gif" width="200" height="90" /></a></div>
          <div class="adlite02">
            <ul>
              <li><span class="STYLE8"><img src="img/help.gif" /></span><a href="http://sale.mimimama.com/doc/1/443/" target="_blank"> [伊V]一个人的天空 <span class="STYLE7">￥1280</span></a></li>

              <li><span class="STYLE8"><img src="img/help.gif" /></span><a href="http://sale.mimimama.com/doc/1/413" target="_blank"> [蝶视觉] 孕妇照B￥ <span class="STYLE7">798</span></a><a href="http://sale.mimimama.com/doc/1/202/" target="_blank"></a></li>
              <li><span class="STYLE8"><img src="img/help.gif" /></span> <a href="http://sale.mimimama.com/doc/1/783/" target="_blank">[ 红豆摄影]特惠A套系 ￥666</a> </li>
            </ul>

          </div>
          <div class="adblite"><a href="http://sale.mimimama.com/doc/1/671/" target="_blank"><img src="img/marry/adb.gif" width="460" height="75" /></a></div>
        </div>


      </div>
      <div class="rightmainLitex350">
        <p class="STYLE5 STYLE11">值得推荐套系</p>
        <div class="txtad">
          <ul>

            <li><span class="STYLE8">1. </span><a href="http://sale.mimimama.com/doc/1/386/" target="_blank">[梓摄影]最近的距离 <span class="STYLE7 redt">￥2629</span></a> <img src="img/up.gif" width="15" height="9" /></li>
            <li><span class="STYLE8">2. </span><a href="http://sale.mimimama.com/doc/1/202/" target="_blank">[古摄影] 爱情日记 <span class="redt">￥2888</span></a></li>
            <li><span class="STYLE8">3. </span><a href="http://sale.mimimama.com/doc/1/469/" target="_blank">[视觉空间]西西里日志 <span class="STYLE7 redt">￥688</span></a></li>
            <li><span class="STYLE8">4.</span><a href="http://sale.mimimama.com/doc/1/659/" target="_blank"> [尚品国际] 比翼双飞 <span class="redt">￥2999</span></a> <img src="img/up.gif" width="15" height="9" /></li>
           </ul>

        </div>

        <div class="txtadlite3"><a href="http://sale.mimimama.com/doc/1/449/" target="_blank"><img src="img/marry/b01.gif" width="210" height="60" /></a><br />
          <a href="http://sale.mimimama.com/marry/special/zsy/z2/index.html" target="_blank"><img src="img/marry/b02.gif" width="210" height="60" /></a><br />
        </div>


      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="title" id="t3">

    <div class="titleright"><a href="listpage/sale_p_p_35_20_1.html">微型车</a> | <a href="listpage/sale_p_p_36_20_1.html">小型车</a> | <a href="listpage/sale_p_p_37_20_1.html">紧凑型车</a> | <a href="listpage/sale_p_p_38_20_1.html">中级车</a> | <a href="listpage/sale_p_p_39_20_1.html">高级车</a> | <a href="listpage/sale_p_p_40_20_1.html">跑车</a> | <a href="listpage/sale_p_p_41_20_1.html">SUV</a> | <a href="listpage/sale_p_p_42_20_1.html">MPV</a></div>

  </div>
  <div class="dmainLitex350" id="d3">
    <div class="dmainleftLitex350"><a href="http://sale.mimimama.com/doc/1/listpage/sale_p_p_4_20_1.html"><img src="upfils/m3.jpg" width="250" height="350" /></a></div>
    <div class="dmainrightLitex350">
      <div class="leftmain">
        <div class="chanpinLitex350">
          <ul>
            <li> 
            <div align="center"><a href='http://sale.mimimama.com/doc/1/612/' target="_blank"><img src='img/car/chapin01.gif' width='100' height='100' /></a>              </div>

            <div class="imgshow1">
              <div class="imgshow2 "> 
                <span class="hx2"><a href="http://sale.mimimama.com/doc/1/612/" target="_blank">[万友汽车] 奔奔优惠团购</a></span><span class="STYLE4">立即咨询</span></div>
            </div>
            </li>
            <li><a href='http://sale.mimimama.com/doc/1/626/' target="_blank"><img src='img/car/chapin02.gif' width='100' height='100' /></a>
            <div class="imgshow1">
              <div class="imgshow2 "> <span class="hx2"><a href="http://sale.mimimama.com/doc/1/626/" target="_blank">[ 建国汽车天津一汽 ] 威乐优惠团购</a></span><span class="STYLE4">立即咨询</span></div>

            </div>
            </li>
          </ul>
          <ul>
            <li><a href='http://sale.mimimama.com/doc/1/584/' target="_blank"><img src='img/car/chapin03.gif' width='100' height='100' /></a>
            <div class="imgshow1">
              <div class="imgshow2 "> <span class="hx2"><a href="http://sale.mimimama.com/doc/1/584/" target="_blank">[长安铃木汽车] 天语优惠团购</a></span><span class="STYLE4">立即咨询</span></div>

            </div>
            </li>
          </ul>
          <ul>
            <li><a href='http://sale.mimimama.com/doc/1/459/' target="_blank"><img src='img/car/chapin04.gif' width='100' height='100' /></a>
            <div class="imgshow1">
              <div class="imgshow2 "> <span class="hx2"><a href="http://sale.mimimama.com/doc/1/535/" target="_blank">[西物精锐] 瑞虎3优惠团购</a></span><span class="STYLE4">立即咨询</span></div>

            </div>
            </li>
          </ul>
        </div>
        <div class="showcpLitex350">
          <div class="adlite01"><a href="http://www.mimimama.com/forum/viewthread.php?tid=13183&amp;extra=page%3D1" target="_blank"><img src="img/car/200x90.gif" width="200" height="90" /></a></div>
          <div class="adlite02">
            <ul>
              <li><span class="STYLE8"><img src="img/help.gif" /></span><a href="http://sale.mimimama.com/doc/1/443/" target="_blank"> <span class="STYLE3"> [团购]</span> 比亚迪F0优惠团购</a></li>

              <li><span class="STYLE8"><img src="img/help.gif" /></span><a href="http://sale.mimimama.com/doc/1/553/" target="_blank"> <span class="STYLE3"> [团购]</span> 马自达2优惠团购</a></li>
              <li><span class="STYLE8"><img src="img/help.gif" /></span><a href="http://sale.mimimama.com/doc/1/443/" target="_blank"> <span class="STYLE3"> [团购] </span>锐志(REIZ)优惠团购</a></li>

            </ul>
          </div>
          <div class="ad03lite"><img src="upfils/m3_185x77.jpg" width="185" height="77" /></div>
          <div class="ad04lite"><img src="upfils/m3_265x77.jpg" width="265" height="77" /></div>
        </div>


      </div>
      <div class="rightmainLitex350">
        <p class="STYLE5">4S店推荐</p>

        <div class="txtad">
          <ul>
            <li><span class="STYLE8">1. </span><span class="STYLE12"><span class="STYLE3">[4s]</span></span> <a href="http://sale.mimimama.com/doc/1/provide/214">西点汽车力帆汽车</a></li>
            <li><span class="STYLE8">2. </span><span class="STYLE12"><span class="STYLE3">[4s]</span></span> <a href="http://sale.mimimama.com/doc/1/provide/191">千里马汽贸东风雪铁龙</a><a href="http://sale.mimimama.com/doc/1/202/" target="_blank"></a></li>
            <li><span class="STYLE8">3. </span><span class="STYLE12"><span class="STYLE3">[4s]</span></span> <a href="http://sale.mimimama.com/doc/1/provide/200">百翔汽车广州本田</a></li>
          </ul>
        </div>
        <div class="txtadlite3">
          <a href="http://sale.mimimama.com/doc/1/540/" target="_blank"><img src="img/car/adb1.gif" width="210" height="60" /></a><br />
          <a href="http://sale.mimimama.com/doc/1/470/" target="_blank"><img src="img/car/adb2.gif" width="210" height="60" /></a><br />
        </div>


      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="title" id="t4">
    <div class="titleright"><a href="listpage/sale_p_p_17_20_1.html" target="_blank">语言培训</a> | <a href="listpage/sale_p_p_67_20_1.html" target="_blank">资质认证</a> | <a href="listpage/sale_p_p_48_20_1.html" target="_blank">电脑培训</a> | <a href="listpage/sale_p_p_68_20_1.html" target="_blank">出国培训</a> | <a href="listpage/sale_p_p_70_20_1.html" target="_blank">考前辅导</a> | <a href="listpage/sale_p_p_85_20_1.html">软件就业</a></div>

  </div>
  <div class="dmainLitex350" id="d4">
    <div class="dmainleftLitex350"><a href="http://mimimama.com/forum/viewthread.php?tid=13260&amp;extra=page=1" target="_blank"><img src="upfils/m4.jpg" width="250" height="350" /></a></div>
    <div class="dmainrightLitex350">
      <div class="leftmain"><div class="adblite2350"><a href="http://sale.mimimama.com/peixun/special/2/index.html" target="_blank"><img src="img/peixun/adb.gif" width="460" height="75" /></a></div>
        <div class="chanpinLitex350">
          <ul>
            <li><a href='http://sale.mimimama.com/doc/1/378/' target="_blank"><img src='img/peixun/chanp01.gif' width='100' height='100' /></a>
            <div class="imgshow1">

              <div class="imgshow2 "> <span class="hx2"><a href="http://sale.mimimama.com/doc/1/378/" target="_blank">[美联国际英语] 个性化英语课程解决难点</a></span><span class="STYLE4">咨询课程</span></div>
            </div>
            </li>
            <li><a href='http://sale.mimimama.com/doc/1/94/' target="_blank"><img src='img/peixun/chanp02.gif' width='100' height='100' /></a>
            <div class="imgshow1">
              <div class="imgshow2 "> <span class="hx2"><a href="http://sale.mimimama.com/doc/1/94/" target="_blank">英之辅·英语7-10岁儿童实现真正飞跃</a></span><span class="STYLE4">9.5 折</span></div>

            </div>
            </li>
          </ul>
          <ul>
            <li><a href='http://sale.mimimama.com/doc/1/402/' target="_blank"><img src='img/peixun/chanp03.gif' width='100' height='100' /></a>
            <div class="imgshow1">
              <div class="imgshow2 "> <span class="hx2"><a href="http://sale.mimimama.com/doc/1/402/" target="_blank">华迪培训·IBM软件外包工程师</a></span><span class="STYLE4">9.2 折</span></div>

            </div>
            </li>
          </ul>
          <ul>
            <li><a href='http://sale.mimimama.com/doc/1/399/' target="_blank"><img src='img/peixun/chanp04.gif' width='100' height='100' /></a>
            <div class="imgshow1">
              <div class="imgshow2 "> <span class="hx2"><a href="http://sale.mimimama.com/doc/1/399/" target="_blank">洋话连篇·周末俱乐部轻松自由学英语</a></span><span class="STYLE4">咨询课程</span></div>

            </div>
            </li>
          </ul>
        </div>
        <div class="showcpLitex2350">       <div class="adlite02350">
            <ul>
              <li><span class="STYLE8"><img src="img/help.gif" /></span><a class="a1" 
                href="http://sale.mimimama.com/doc/1/94/"> EF儿童英语培训课程</a><a href="http://sale.mimimama.com/doc/1/443/" target="_blank"></a></li>

              <li><span class="STYLE8"><img src="img/help.gif" /></span><a class="a1" 
                href="http://sale.mimimama.com/doc/1/375/"> 电脑办公文秘</a><a href="http://sale.mimimama.com/doc/1/413" target="_blank"></a><a href="http://sale.mimimama.com/doc/1/202/" target="_blank"></a></li>
           </ul>
          </div>
          <div class="adlite02350">
            <ul>
              <li><span class="STYLE8"><img src="img/help.gif" /></span><a class="a1" 
                href="http://sale.mimimama.com/doc/1/378/"> 美联国际商务英语</a><a href="http://sale.mimimama.com/doc/1/443/" target="_blank"></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="rightmainLitex350">

        <p class="STYLE5">热门关注推荐 </p>
        <div class="txtad">
          <ul>
            <li><span class="STYLE8">1. </span><span class="STYLE3">[活动]</span><a href="special/1/index.html" target="_blank">美联英语-<span class="STYLE13">为您的职场加薪</span></a><a href="http://sale.mimimama.com/peixun/special/1/index.html" target="_blank"></a><a href="http://sale.mimimama.com/doc/1/287/" target="_blank"></a></li>
            <li><span class="STYLE8">2. </span><span class="STYLE3">[活动]</span><a href="special/3/index.html" target="_blank">洋话连篇-<span class="STYLE13">金秋红包大返现</span></a><a href="http://sale.mimimama.com/peixun/special/3/index.html" target="_blank"></a><a href="http://sale.mimimama.com/doc/1/202/" target="_blank"></a></li>
</ul>

        </div>

        <div class="txtadlite3">       <img src="img/peixun/b01.gif" width="210" height="60" /> </div>


      </div>
    </div>
  </div>
</div>
<div class="main" style="display:none">
  <div class="title" id="t5">
    <div class="titleright">此处显示  class &quot;titleright&quot; 的内容</div>

  </div>
  <div class="dmain" id="d5">
    <div class="dmainleft"><img src="images/m5.gif" width="250" height="417" /></div>
    <div class="dmainright">
      <div class="leftmain">
        <div class="chanpin">
          <ul>
            <script language="javascript" src="index_list/index_6_top.js"></script>

          </ul>
        </div>
        <div class="ad01">此处显示  class &quot;ad01&quot; 的内容</div>
        <div class="ad02"><dl>
            <script language="javascript" src="index_list/index_6_list.js"></script></dl></div>		
        <div class="ad03">此处显示  class &quot;ad03&quot; 的内容</div>

        <div class="ad04">此处显示  class &quot;ad04&quot; 的内容</div>
      </div>
      <div class="rightmain">
        <dl>
          <dt>医疗美容机构推荐</dt>
          <script language="javascript" src="index_list/index_6_provide.js"></script>

        </dl>
      </div>
    </div>
  </div>
</div>

