<div class='main'>
  <div id='left'><div class='mod' id='subnav'>
    <div class='bgtop'></div>
        <div class='modth' id='t0'><div class='lc'><div class='rc'>

          <div class='modtit'><h3>分类</h3></div>
        </div></div></div>
        <div class='modbox'>
          <div class='modbox'>
            <script language='javascript' src='/doc/1/ext_class_86.js'></script>
          </div>
        </div>
        <div class='bgbottom'></div>

  </div>
    <div class='mod' id='ad3'>
      <div class='bgtop'></div>
      <div class='modth' id='t12'>
        <div class='lc'>
          <div class='rc'>
            <div class='modtit'>
              <h3>同类热门产品</h3>

            </div>
          </div>
        </div>
      </div>
      <div class='modbox'>
        <ul>
         <script language='javascript' src='/doc/1/class_86.js'></script>
        </ul>

      </div>
      <div class='bgbottom'></div>
    </div>
    <div class='mod' id='ad4'>
      <div class='bgtop'></div>
      <div class='modth' id='t11'>
        <div class='lc'>
          <div class='rc'>
            <div class='modtit'>

              <h3>您最近浏览商品</h3>
            </div>
          </div>
        </div>
      </div>
      <div class='modbox'>
        <ul id='history'>
         <script language='javascript'>history_show();</script>

        </ul>
      </div>
      <div class='bgbottom'></div>
    </div>
  </div>
  <div id='right'>
    <div id='youarehear'>当前位置: <a href='http://www.mimimama.com'>密密麻麻网</a>   &gt;&gt; <a href='../listpage/sale_p_p_3_20_1.html'>家居频道</a> &gt;&gt; <a href='../listpage/sale_p_p_86_20_1.html'>集成吊顶</a>  &gt;&gt; 商品详情</div>

    <div id='content_list'>
      <div id='inner_main'>
        <div id='inner_main_l'>
          <%= image_tag(@product.first_photo.public_filename(:thumb), :width => 200, :height => 200)%>
          <div id='inner_butten'>
            <a href='javascript:copyToClipboard();'>
              <img src='../images/butten03.gif' width='95' height='30' border='0' /></a>&nbsp;
            <a href='javascript:window.external.AddFavorite( window.location.href , " 科 ")' target='_self'>
              <img src='../images/butten04.gif' width='95' height='30' border='0' /></a></div>
        </div>
        <div id='inner_main_2'>
          <div id='inner_title'>科洛尼集成吊顶·卫生间豪华套餐惊喜价1299元！</div>
          <ul><li><span class='textccc'>市 场 价：</span><span class='sctext'>￥2676</span> </li><li><span class='textccc'>优 惠 价：</span><span class='redtext'>￥1299</span></li><li><span class='textccc'>折 扣 数：</span>4.9折</li><li><span class='textccc'>商家：</span><a href='../provide/248'>科洛尼集成吊顶</a></li><li><span class='textccc'>补充说明：</span>科洛尼卫生间豪华套餐惊喜价1299元！</li> </ul>

          <div class='clear'></div>
          <div align='center' id='inner_main_buy'><img src='../images/butten02.gif' onclick='popup_show();'/></div></div>
        <div class='clear'></div>
      </div>
      <div class='inner_title2'>产品图片</div>
      <script language='javascript' src='/doc/prodoc/723/pic.js'></script>    
      
      <div class='inner_title2'>产品介绍</div>
      <div class='inner_main'>

        <table width='100%' border='0' cellspacing='0' cellpadding='0'>
          <tr>
            <td><style> P { margin: 0px; } </style>
<FONT color=#666666 size=2>一、套餐：<BR>&nbsp;&nbsp;&nbsp; 1.厨房套餐：<BR>&nbsp;&nbsp;&nbsp; 40张扣板+1台组合电器（照明+换气）=999元（原价：1982元）<BR>&nbsp;&nbsp;&nbsp;&nbsp; 2.卫生间套餐：<BR>&nbsp;&nbsp;&nbsp; 40张扣板+1台组合电器（取暖+换气）+1台独立电器（照明）=1299元（原价：2676元）<BR>注：a.扣板——330*330mm纳米亚光滚涂板。进口绿色环保铝镁合金基材，高档纳米亚光材料饰面，高于欧盟最先进环保标准。具有抗油污、耐刮伤、抗紫外线、漫反射、无眩光、不刺眼、色彩均匀细腻、极具质感等特点。<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; b.取暖电器——支架结构式四灯红外辐射式灯暖。发射主波段为2.5-15的远红外光波，热转换率高于80%。灯头采用E27镀镍铜灯头，玻壳采用11#硬质防宝爆玻璃，最薄处不低于0.6mm，灯泡壁采用进口高光反光镀膜，灯丝架采用多点支撑灯丝架，灯丝采用双灯丝，每一个取暖灯均经过严格的点亮后4℃冰水测试。（功率：1100W）<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; c.换气电器——采用优质硅钢片滚珠轴承电机。根据阿基米德原理，采用蜗壳风道设计，确保进、排空气流量的平衡，转速低，无噪音，使用寿命长。采用三维立体强排风模式，每小时通风换气900立方，换气次数15次/h。（功率：35W）<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; d.照明电器——照明灯管、镇流器全部采用荷兰“飞利浦“国际品牌，质量过硬，节能环保，光效提高50%，使用寿命提高150%；选用高效T5三基色荧光灯，光效好、无频闪，能准确还原被照物体的本色。（功率：22W）<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; e.以上40张扣板为0.33*0.33*40=4.35㎡，厨房套餐的实际使用面积是4.35+0.33*0.66=4.56㎡，卫生间套餐的实际使用面积是4.56+0.33*0.33=4.67㎡。以上套餐均包括安装费和安装辅料费。<BR>二、以上活动，如单户客户的购买面积大于等于12㎡，则赠送吊顶所需的0.8mm滚涂收边条。<BR></FONT></td>

          </tr>
        </table>
      </div>
      
      <div class='inner_title2'>优惠说明</div>
      <div class='inner_main'><style> P { margin: 0px; } </style>
<FONT color=#666666 size=2>预定本公司服务，即可享受密密麻麻网会员全场7折优惠！ <BR><BR>特价：<BR>&nbsp;&nbsp;&nbsp; 330*330mm 进口纳米亚光滚涂板&nbsp;&nbsp;&nbsp; 零售价：258元/㎡&nbsp;&nbsp;&nbsp; 特价：159元/㎡<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; （注：以上价格均含安装辅料和安装费用）<BR><BR></FONT>

<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt; TEXT-INDENT: 21pt; mso-char-indent-count: 2.0"><SPAN style="COLOR: black; FONT-FAMILY: 宋体; mso-ascii-font-family: Verdana; mso-hansi-font-family: Verdana; mso-bidi-font-size: 10.5pt; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><FONT face=Verdana color=#666666 size=2>以上活动的时间为：2008年11月——12月30日<BR></FONT></SPAN><SPAN style="COLOR: black; FONT-FAMILY: 宋体; mso-ascii-font-family: Verdana; mso-hansi-font-family: Verdana; mso-bidi-font-size: 10.5pt; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"></SPAN><SPAN lang=EN-US style="COLOR: black; FONT-FAMILY: Verdana; mso-bidi-font-size: 10.5pt; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><?xml:namespace prefix = o ns = "urn:schemas-microsoft-com:office:office" /><o:p></o:p></SPAN></P><BR><BR><BR></div>
      <div class='inner_title2 inner_red'>预定/预约说明</div>
      <div class='inner_main'><style> P { margin: 0px; } </style>
<IMG src="http://sale.mimimama.com/doc/1/images/liucheng.gif"></div>
      <div class='inner_title2 inner_red'>最近购买记录</div>
        <div class='inner_main' id='jilu'>
        <iframe name='makewing' src='/doc/orderlist_pro/723/1.html' scrolling='no' width='100%' height='230' frameborder='no' ></iframe>

        </div>
        <div class='inner_title2 inner_red' id='innerquest_title' onclick="toggle_oc('img_ooc_my','quest_img_my');">
        <div id='innerquest_left'>购买咨询</div>
           <div id='innerquestico'><img id='quest_img_my' src='../images/a.gif' width='12' height='12' /></div>
        </div>
      <div style='overflow:hidden' id='img_ooc_my'>
     	 <script language='javascript'>
	     	 function leaverurl(a,b){
				window.location.href= '/leaverword/questbook.php?p='+a+'&id='+b+'&c='+1;
			}
     	 </script>
     	 <script language='javascript' src='/doc/prodoc/723/note.js'></script></div>

		 
      <div id='inner_addquest'><strong><a target='_blank' href='/leaverword/questbook.php?p=723&c=1'><img src='../images/addquest.gif' alt='添加留言' width='109' height='43' border='0' /></a></strong></div>
	  
      <div style='font: 0px/0px sans-serif;clear: both;display: block'></div>
    </div>
    <div class='clear'></div>
  </div>
  <div class='clear'></div>
</div>
<script language='javascript' src='../foot.js'></script>

<div class='sample_popup' id='popup' style='display: none; width:530px; height:250px'>

<div class='menu_form_header' id='popup_drag' style='height:18px; background-color:#999999;width:100%'></div>
<div class='menu_form_body'>
<div id='tanchu'>
  <table width='100%' border='0' cellpadding='0' cellspacing='4' bgcolor='#FFFFFF'>
  <form action='http://sale.mimimama.com/invent.php' target='subform' method='post' onsubmit='return chkform();'>
    <tr>
      <td colspan='2' bgcolor='#FFFFFF' class='modtit'>确认预约的商品/服务 (客服会主动与您取得联系,介绍该产品/服务详细情况)</td>
    </tr>
    <tr>
      <td width='15%' bgcolor='#FFFFFF'>订购数量：</td>

      <td width='85%' bgcolor='#FFFFFF'><input type='text' name='num' id='num'  maxlength='3' /> 
        <span class='redt'>*</span></td>
    </tr>
    <tr>
      <td width='15%' bgcolor='#FFFFFF'>姓名：</td>
      <td bgcolor='#FFFFFF'><input name='name' type='text' id='name' size='15'  maxlength='8' /> 
        <span class='redt'>*</span>
        <input type='radio' name='gender' id='radio' value='1' checked='checked' />

        先生 
        <input type='radio' name='gender' id='radio2' value='2' />
        小姐</td>
    </tr>
    <tr>
      <td bgcolor='#FFFFFF'>联系电话：</td>
      <td bgcolor='#FFFFFF'><input type='text' name='tel' id='tel' maxlength='12' />
      <span class='redt'>*</span>(请正确填写，全数字，不超过12位)</td>

    </tr>
    <tr>
      <td bgcolor='#FFFFFF'>收货地址：</td>
      <td bgcolor='#FFFFFF'><input name='address' type='text' id='address' size='40' maxlength='30' />
      </td>
    </tr>
    <tr>
      <td bgcolor='#FFFFFF'>补充：</td>

      <td bgcolor='#FFFFFF'><input name='content' type='text' id='content' size='40'  maxlength='30' /></td>
    </tr>
    <tr>
      <td colspan='2' align='center' bgcolor='#FFFFFF'><input onclick='popup_exit()' type='submit' name='button2' id='button2' value='  提交预约信息  ' />&nbsp;&nbsp;
	  <input type='button' onclick='popup_exit()' value=' 关闭 ' /></td>
    </tr>
	<input type='hidden' name='id' value='723' />
	<input type='hidden' name='saleid' value='1' />
	<input type='hidden' name='act' value='save' />

	</form>
	<div style='display:none'><iframe id='subform' name='subform' width='100%' height='100' src='about:blank'></iframe></div>
  </table>
</div>
</div>
</div>

