<h1>所有分类<h1>
    <% if flash[:notice] %>
      <center>  <font color='red'>   <%= flash[:notice]%></font></center>
    <% end %>
    <table>
      <tr>
        <th>ID</th>
        <th>名称</th>
        <th>所属分类ID</th>
        <th>商家数量</th>
        <th>产品数量</th>
        <th>操作</th>
        <th>类型</th>
        </tr>

        <% for category in @categories %>
          <tr>
            <%= render :partial => 'admin_category', :object => category %>
          </tr>
        <% end %>
      </table>

      <br />

      <%= link_to '添加分类', new_admin_category_path %>
