<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>密密麻麻网</title>
  <meta name="Description" content="密密麻麻网" />
  <meta name="Keywords" content="摄影婚庆" />
  <%= stylesheet_link_tag 'indexbeta' %>
  <%= javascript_include_tag :defaults %>

</head>
