<div id="logo"><%= link_to image_tag('../images/logo.gif'), home_path, :alt => '密密麻麻' %> </div>
<div id="header_l1">
  <ul>
    <li><a >博客</a></li>
    <li><a >社区</a></li>
    <li><%= link_to '[退出管理]', home_path %></li>
  </ul>
</div>

<div id="header_nav">
  <div id="navtab">
    <ul>
      <li class="tb"><%= link_to '网站首页', home_path %></li>
      <li class="ta"><a>摄影婚庆</a></li>
      <li class="ta"><a >家装建材</a></li>
      <li class="ta"><a>汽车服务</a></li>
      <li class="ta"><a>培训教育</a></li>
      <li class="ta"><a>健身美容</a></li>
    </ul>
  </div>

  <div id="navtab2">
    <ul>
      <li class="t4"><a>论坛</a></li>
      <li class="t2"><a>活动</a></li>
      <li class="t1"><a>消费点评</a></li>
    </ul>
  </div>

</div>
</div>

