<div id="sub">
  <div id="subtop">
    <div id="subbon">
      <dl>
        <%= link_to '管理首页',admin_path %>
        <dt id="t4"><a href="#">商品管理</a></dt>
        <dd><%= link_to '分类', admin_categories_path%></dd>
        <dd><%= link_to '店铺',admin_shops_path%></dd>
        <dd><%= link_to '产品',all_products_admin_home_path%></dd>
        <dt id="t5"><a href="#">会员管理</a></dt>
        <dd><a href="#">角色</a> </dd>
      </dl>
    </div>
  </div>
</div>

<div class="mod top">
  <div class="modtop">
    <div class="topl">
      <div class="topr">
        <h1>最新动态</h1>
        <div class="more"><a href="#">[更多...]</a></div>
      </div>
    </div>
  </div>
  <div class="modbox" id="c10">
    <ul>
      <li class="left"><a href="#" target="_blank">硬着头皮努力 </a></li>
    </ul>
  </div>
  <div class="modbot">
    <div class="botl">
      <div class="botr">
      </div>
    </div>
  </div>
</div>

